body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


h1, h2, p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
}

a {
  color: #FFE600;
}

header,
section{
  padding: 50px;
}

header {
  background-color: #FFE600;
  color: black;
}

.section-one {
  background-color: black;
  color: white;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.btn-accent{
  color: black;
  background-color: #FFE600;
}

.btn-accent:hover{
  color: white;
  background-color: black;
}

.btn-dark{
  color: #FFE600;
  background-color: black;
}

.btn-dark:hover{
  color: black;
  background-color: yellow;
}